html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.info-box {
    position: fixed;
    top: 24px;
    right: 24px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 20px 28px;
    border-radius: 10px;
    z-index: 10;
    max-width: 400px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 2px 12px rgba(0,0,0,0.25);
}

.info-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.info-header h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.info-box > p {
    margin-top: 0px;
}

.info-hoopoe {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info-box a {
    color: #fff;
    text-decoration: underline;
    transition: color 0.2s;
}

.info-box a:hover {
    color: #aad8ff;
}

@media (max-width: 600px) {
  .info-box {
    left: 50%;
    right: auto;
    top: 16px;
    transform: translateX(-50%);
    text-align: center;
  }
}

.image-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    padding: 12px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: .75rem;
    z-index: 10;
    box-shadow: 0 -2px 12px rgba(0,0,0,0.25);
}

#dynamic-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center center;
    display: block;
}
