<div class="lang-buttons-mobile">
  {{ if eq site.Language.Lang "he" }}
    <a href="/he/" title="עברית"><img src="{{ "assets/il.svg" | absURL }}" alt="עברית" class="flag-icon"></a>
    <a href="/" title="English"><img src="{{ "assets/usa.svg" | absURL }}" alt="English" class="flag-icon"></a>
  {{ else }}
    <a href="/" title="English"><img src="{{ "assets/usa.svg" | absURL }}" alt="English" class="flag-icon"></a>
    <a href="/he/" title="עברית"><img src="{{ "assets/il.svg" | absURL }}" alt="עברית" class="flag-icon"></a>
  {{ end }}
</div>
<div class="bottom-bar">
  &copy; {{ now.Year }} {{ i18n "copyrightName" }}. {{ i18n "allRightsReserved" }}.
  <div class="lang-buttons">
    {{ if eq site.Language.Lang "he" }}
      <a href="/he/" title="עברית"><img src="{{ "assets/il.svg" | absURL }}" alt="עברית" class="flag-icon"></a>
      <a href="/" title="English"><img src="{{ "assets/usa.svg" | absURL }}" alt="English" class="flag-icon"></a>
    {{ else }}
      <a href="/" title="English"><img src="{{ "assets/usa.svg" | absURL }}" alt="English" class="flag-icon"></a>
      <a href="/he/" title="עברית"><img src="{{ "assets/il.svg" | absURL }}" alt="עברית" class="flag-icon"></a>
    {{ end }}
  </div>
</div>
