<div class="sidebar-container">
  <div class="info-box">
    <div class="profile">
      <div class="profile-header">
        <img src="{{ "assets/hoopoe.jpg" | absURL }}" alt="Hoopoe" class="profile-hoopoe">
        <h2>{{ i18n "fullName" }}</h2>
      </div>
      <p class="bio">{{ i18n "bio1" }} {{ i18n "bio2" }}</p>
    </div>
    <div class="info-links">
      <a href="https://github.com/jacobwiseberg" target="_blank" rel="noopener noreferrer">{{ i18n "github" }}</a> |
      <a href="https://www.linkedin.com/in/jacob-wiseberg/" target="_blank" rel="noopener noreferrer">{{ i18n "linkedin" }}</a> |
      <a href="mailto:jake&#64;shift1w&#46;com" target="_blank" rel="noopener noreferrer">jake&#64;shift1w&#46;com</a> |
      <a href="{{ "assets/a577fd22b70dbd624d53863520ee598580f2bc024586ea7b0f1d50652f733d1c.asc" | absURL }}" download>PGP</a>
    </div>
  </div>
  <div class="nav-box">
    <a href="{{ "/" | relLangURL }}">{{ i18n "home" }}</a>
    <a href="{{ "/posts" | relLangURL }}">{{ i18n "posts" }}</a>
    <a href="{{ "/tags" | relLangURL }}">{{ i18n "tags" }}</a>
    <a href="{{ "/categories" | relLangURL }}">{{ i18n "categories" }}</a>
  </div>
</div>
