name: Build and Deploy to Master

on:
  push:
    branches:
      - stage

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    
    steps:
      - name: Checkout stage branch
        uses: actions/checkout@v4
        with:
          ref: stage
          fetch-depth: 0
      
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: false
      
      - name: Build Hugo site
        run: hugo --minify
      
      - name: Deploy to master branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: master
          force_orphan: false
          keep_files: false
          commit_message: 'Build from stage: ${{ github.event.head_commit.message }}'
          cname: shift1w.com
